html {
    font-size: 16px;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #FFFFFF;    
    color: #000000;
    padding: 3%;
}

header {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border-bottom: 3px solid #000000;
}
    
header h1 {
    /* width: 40%; */
    /* padding-left: 3%; */
    font-size: 2rem;
}

nav {
    width: 60%;
}

nav ul {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 1.5%;
    list-style-type: none;
}

@media only screen and (max-width: 700px) {
    header {
        justify-content: space-around;
    }

    header h1 {
        padding-left: 0;
        font-size: 1.5rem;
        width: 28%;
        /* background-color: red; */
    }

    nav ul {
        width: auto;
        justify-content: space-between;
        /* background-color: yellow; */
        margin-left: -6%;
    }

    h3 {
        font-size: 1.3rem;
    }

    h4 {
        font-size: 1.1rem
    }

    body {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 560px) {
    header h1 {
        width: 20%;
    }

    nav ul {
        justify-content: space-evenly;
        width: auto;
        flex-wrap: wrap;
        margin-left: -15%;
    }

    nav li {
        padding-right: 3%;
    }
}

.projects, .skills , .about, footer{
    border-top: 1px solid #000000;
}

.education h3, .projects h3, .skills h3, .about h3 {
    text-shadow: 1px 1px #cccccc;
}

.viewButtons span, #close {
    margin-right: 1%;
    padding: 0.2% 0.7%;
    border: 1px solid #000000;
    border-radius: 3px;
    background-color: #e0e0e0;
}

.viewButtons span:hover, #close:hover {
    padding: 0.18% 0.7%;
    cursor: pointer;
    box-shadow: inset 0px 0px 3px  #000000;
}

.newDiv {
    box-shadow: 1px 1px 20px #000000;
    padding: 1% 0;
}

iframe {
    width: 100%;
    height: 500px;
}

#close {
    width: 10%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 1px 1px 10px #000000;
}

.education .container p {
    display: flex;
    justify-content: space-between;
}

a {
    color: #000000;
    text-decoration: none;
}